@import url('./reset.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --get-strated-btn-gradient: red;
}

@font-face {
  font-family: 'Audiowide';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../../shared/assets/fonts/Audiowide-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../../shared/assets/fonts/Helvetica-Regular.otf') format('truetype');
}

body {
  background-color: black;
  color: white;
}
