@import url('./reset.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Audiowide';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../../shared/assets/fonts/Audiowide-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../../shared/assets/fonts/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../../shared/assets/fonts/Nunito-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../../shared/assets/fonts/Nunito-SemiBold.ttf') format('truetype');
}

body {
  background-color: black;
  color: white;
}

.gradient {
  background: linear-gradient(
    -18.47deg,
    rgba(122, 250, 199, 0.48) 11.343%,
    rgb(21, 255, 192) 116.98%,
    rgba(68, 255, 221, 0.7) 135.735%
  );
}
.gradient:hover,
.gradient:focus {
  background: linear-gradient(
    -18.47deg,
    rgba(9, 52, 35, 0.48) 10.289%,
    rgb(5, 166, 123) 121.192%
  );
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: inherit;
}

::-webkit-scrollbar-thumb {
  background: #396f4bbb;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #396f4b;
}

.purple-gradient {
  box-shadow: 0px 0px 104px 0px rgba(101, 51, 180, 0.97);
  background: linear-gradient(
    183.62deg,
    rgb(6, 86, 207) -17.18%,
    rgba(166, 46, 211, 0.788629) 57.1%,
    rgba(146, 66, 217, 0.685977) 90.41%,
    rgba(117, 94, 225, 0.537023) 141.45%,
    rgba(63, 147, 241, 0.258758) 190.61%,
    rgba(12, 197, 255, 0) 232.54%,
    rgba(12, 197, 255, 0) 232.57%
  );
}

.green-gradient {
  border-radius: 40px;
  box-shadow: 0px 0px 55px 0px rgba(146, 242, 248, 0.4);
  background: linear-gradient(
    171.96deg,
    rgba(255, 255, 255, 0.85) -15.09%,
    rgba(175, 255, 197, 0.85) 33.47%,
    rgba(125, 250, 197, 0.85) 66.28%,
    rgba(122, 250, 199, 0.75174) 118.52%,
    rgba(21, 255, 192, 0.561595) 134.79%,
    rgba(68, 255, 221, 0.119) 149.35%
  );
}

.border-gradient {
  border-radius: 10px;
  background:
    linear-gradient(#060606, #060606) padding-box,
    linear-gradient(to right, #36c094, #3e8167) border-box;
  border: 1px solid transparent;
  border-right: none;
  border-left: none;
}

.user-popover[data-state='open'] .user-popover-arrow {
  rotate: 180deg;
}

.PopoverContent {
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.PopoverContent[data-state='open'][data-side='top'] {
  animation-name: slideDownAndFade;
}
.PopoverContent[data-state='open'][data-side='right'] {
  animation-name: slideLeftAndFade;
}
.PopoverContent[data-state='open'][data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.PopoverContent[data-state='open'][data-side='left'] {
  animation-name: slideRightAndFade;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
